

<% if obj.errors.any? %>
<!-- add a panel/card that displays an error if the credentials aren't met -->
<div class="row">
  <div class ="col-8 offset-2">
    <div class ="card bg-danger">
      <div class="card-body">
      <div class = "card-heading">
        <h2 class = "card-title">
          <%= pluralize(obj.errors.count, "error")%>
          prohibit this query from being saved:
          </h2>

          <div class = "card-body">
            <ul>
              <% obj.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
              <% end %>
              </ul>
            </div>
          </div>
        </div>
        </div>
      </div>
    </div>
<% end %>
