<div class="center jumbotron">

  <h1 class="display-4">Welcome!</h1>
  <p class="lead">This web application allows you to create a query for our mechanics to look at. They will then get back to you with a price.</p>
  <hr class="my-4">
  <p>Click the "Create Account" button to get started!.</p>
  <a class="btn btn-primary btn-lg" <%= link_to 'Create an Account', signup_path %></a>
</div>
